/* Stylefile for the RecoverPasswordComponent. */

/* Vertically Centering Container */
.flex-container-recover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    color: 'white';
    background: radial-gradient(#54386e, #6b26af, #5d0785);
}

/* Bordered form */
form.recover {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 3px solid #cf9bff;
    margin: auto;
    border-radius: 25px;
    max-width: 800px;
}
button {
    background-color: #8a00e5;
}

/* Full-width inputs */
input[type='text'].recover {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cf9bff;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Making the selected text field appearance also rounded */
input.recover:focus {
    outline: none;
    box-shadow: 0 0 0 2px;
}

/* Set a style for all buttons */
button.recover {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

/* Add a hover effect for buttons */
button.recover:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.recoverpassword-container {
    padding: 16px;
    max-width: 500px;
    margin: auto;
}
