/* Chart related Styling */

/* Reconfiguration of the title style on chart  */
.ChartItemsTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: var(--global--text-title--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
    margin-top: 15px;
}

/* Reconfiguration of the title style on Column chart  */
.ColumnChartItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Reconfiguration of the subtitle style on chart  */
.ChartItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--table-items--FontSize);
    margin-left: 0;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    padding-bottom: 10px;
}

/* Column Chart */
.BarChartContainer {
    background-color: #ffffff;
    /* border:0.5px solid #00b300; */
    cursor: 'pointer';
    max-width: 600px !important;
    min-width: 300px !important;
    max-height: 600px !important;
    display: flex;
    flex-direction: column;
}

.PieChartCardsContainer {
    background-color: #ffffff;
    /* border:0.5px solid #00b300; */
    border-radius: 4px;
    cursor: 'pointer';
    margin-top: 10px;
    max-width: 800px !important;
    min-width: 100px !important;
    max-height: 600px !important;
    display: flex;
    flex-direction: column;
}

/* Table related styling */

/* Reconfiguration of the title style on table  */
.TableTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: var(--global--text-title--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
    margin-top: 30px;
}
/* Reconfiguration of the title style on cards  */
.CardTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: var(--global--text-title--FontSize);
    letter-spacing: 0.5px;
    padding-left: 17px;
    color: #1b1534;
    padding-bottom: 15px;
    margin-top: 15px;
}

/* Reconfiguration of the subtitle style on table  */
.TableSubTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--table-subtitle--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
}

/* Reconfiguration of the text style on table  */
.TableItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--table-items--FontSize);
    margin-left: 0;
    color: #1b1534;
    margin-top: 5px;
    margin-bottom: 10px;
}

.TableCorner {
    border-radius: 8px;
}

.TableContainer {
    background-color: #ffffff;
    border-radius: 8px;
    cursor: 'pointer';
    padding: 10px; /* To make it display the shadow properly */
    overflow: auto; /* To make it scrollable whenever it does not fit for some reason. */
    margin-bottom: 50px;
}

.TableHeader {
    background-color: #d1a675 !important;
}
