/* Chart related Styling */

/* Reconfiguration of the title style on chart  */
.ChartItemsTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: var(--global--text-title--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
}

/* Reconfiguration of the title style on Column chart  */
.ColumnChartItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Reconfiguration of the subtitle style on chart  */
.ChartItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--chart-items--FontSize);
    margin-left: 0;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    padding-bottom: 10px;
}

/* Column Chart */
.BarChartContainer {
    background-color: #ffffff;
    /* border:0.5px solid #00b300; */
    cursor: 'pointer';
    margin-top: 25px;
    margin-bottom: 50px;
    max-width: 900px !important;
}

.PieChartCardsContainer {
    background-color: #ffffff;
    /* border:0.5px solid #00b300; */
    border-radius: 4px;
    cursor: 'pointer';
    padding: auto;
    justify-content: center;
    margin-top: 10px;
    max-width: 500px !important;
}

/* Table related styling */

/* Reconfiguration of the title style on table  */
.TableTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: var(--global--text-title--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
    margin-bottom: 10px;
}
/* Reconfiguration of the title style on cards  */
.CardTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: var(--global--text-title--FontSize);
    letter-spacing: 0.5px;
    padding-left: 17px;
    color: #1b1534;
    padding-bottom: 10px;
}

/* Reconfiguration of the subtitle style on table  */
.TableSubTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--text-subtitle--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
}


/* Reconfiguration of the text style on table  */
.TableItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--table-items--FontSize);
    margin-left: 0;
    color: #1b1534;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tableCorner{
    border-radius: 8px;

}

.TableContainer {
    background-color: #ffffff;
    border-radius: 8px;
    cursor: 'pointer';
    padding: 10px; /* To make it display the shadow properly */
    overflow: auto; /* To make it scrollable whenever it does not fit for some reason. */
}

.TableHeader {
    background-color: #d1a675 !important;
}
