/* Style the navigation menu */
.navbar {
    width: 100%;
    height: auto;
    color: #1b1534;
    padding: 0px;
    background-color: var(--global--background--color) !important;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px solid var(--global--button--color); */
    /* background-color: var(--global--panel--color); */
}

/* -webkit-radial-gradient(  bottom right, #4D217A,#1B1534 ); */
:root {
    --global--background--color: #dedede;
    --global--button--text--color: #1b1534;
    --global--panel-title--FontSize: 22px;
    --global--text-subtitle--FontSize: 19px;
}
.navbar i {
    margin-right: auto;
    margin-left: auto;
}

.navbar Link {
    text-decoration: none;
}

.BackButton {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-left: 3px;
    padding-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}

/* Navigation links */
.navbar button {
    font-weight: bold;
    color: var(--global--button--text--color);
    background-color: var(--global--background--color);
    text-decoration: none;
    font-size: 28px;
    border-style: none;
    cursor: pointer;
}

/* Navigation links */
.Addbtn {
    float: left;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    /* color: var(--global--panel--color); */
    background-color: var(--global--background--color);
    color: var(--global--button--text--color);
    text-decoration: none;
    font-size: 22px;
    text-align: right; /* If you want the text to be centered */
    border-style: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Pdfbtn {
    float: left;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: bold;
    /* color: var(--global--panel--color); */
    background-color: var(--global--background--color);
    color: var(--global--button--text--color);
    font-size: 22px;
    border-style: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Closebtn {
    float: left;
    /* color: var(--global--panel--color); */
    background-color: var(--global--background--color);
    color: var(--global--button--text--color);
    text-decoration: none;
    font-size: 24px;
    border-style: none;
    cursor: pointer;
    margin-right: 3px;
}

.NavbarTitle {
    align-content: left;
    margin-left: 0px;
    padding-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar b {
    background-color: var(--global--background--color);
    /* color: var(--global--panel--color); */
    text-decoration: none;
    font-size: 22px;
    width: 60%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: left; /* If you want the text to be centered */
}
