/* Style the navigation menu */
.navbar {
    width: 100%;
    border-radius: 25px;
    height: 80px;
    padding-top:5px;
    color:  #1B1534;
    border: 3px solid var(--global--button--color);
    /* background-color: var(--global--panel--color); */
}

/* -webkit-radial-gradient(  bottom right, #4D217A,#1B1534 ); */
:root{
    --global--button--color:#1B1534;
    --global--panel-title--FontSize: 22px;
    --global--text-subtitle--FontSize: 19px;
}

/* Navigation links */
.navbar button {
    float: left;
    padding: 12px;
    /* color: var(--global--panel--color); */
    background-color:#14DA79 ;
    text-decoration: none;
    font-size: 20px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: right; /* If you want the text to be centered */
    border-style: none;

}

.navbar b {
    float: left;
    padding: 12px;
    background-color:#FFFFFF;
    /* color: var(--global--panel--color); */
    text-decoration: none;
    font-size: 22px;
    width: 60%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: left; /* If you want the text to be centered */
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}
