.MydashboardContainer {
    background-color: #FFFFFF;
    border : 1px solid black;
    border-radius: 4;
    cursor: 'pointer';
    
}
.graphContainer {
    background-color: #FFFFFF;
    margin-top: 24;
    margin-left: 0;
    margin-right: 0;
    width: '100%';
}

.graphSection{
    padding: 24;
        background-color: #FFFFFF;
}

.MydashboardNavbar {
    width: 100%;
    height: auto;
    color: #1b1534;
    padding: 0px;
    background-color: #FFFFFF !important;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px solid var(--global--button--color); */
    /* background-color: var(--global--panel--color); */
}