.mydashboardNavbar {
    width: 100%;
    height: auto;
    color: #1b1534;
    padding: 0px;
    background-color: #FFFFFF !important;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px solid var(--global--button--color); */
    /* background-color: var(--global--panel--color); */
}

.star{
    /* color: var(--global--panel--color); */
    background-color: var(--global--background--color);
    color: var(--global--button--text--color);
    text-decoration: none;
    font-size: 24px;
    border-style: none;
    cursor: pointer;
    margin-left:10px;
    margin-right:10px;



}

.mydashboardNavbar b {
    background-color: var(--global--background--color);
    text-decoration: none;
    font-size: 22px;
}

.dashboardTitle {

    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: var(--global--text-title--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
    margin-bottom: 10px;
    padding-left: 25px;
    margin-left: 25px;

    
}

.dashboardSubTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--text-subtitle--FontSize);
    letter-spacing: 0.5px;
    color: #1b1534;
    padding-left: 25px;
    margin-left: 25px;
}
.mydashboardNavbar i {
    margin-right: 0px;
    margin-left: 15px;

}


.favIcon {
    float: left;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    /* color: var(--global--panel--color); */
    background-color: var(--global--background--color);
    color: var(--global--button--text--color);
    text-decoration: none;
    font-size: 22px;
    text-align: right; /* If you want the text to be centered */
    border-style: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}