/* Reconfiguration of  the icon style on the side bar */
.SideBarIconStyle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--icon-title--FontSize);
    color: var(--global--header--color);
    margin-bottom: 3px;
    letter-spacing: 0.5px;
    margin-right: 6px;
}

.SideBarIconStyle :active {
    background-color: #ae56ff;
}

.SideBarIconStyle :focus {
    background-color: #ae56ff;
}
.SideBarIconStyle :visited {
    background-color: #ae56ff;
}
.SideBarContainer {
    color: 'white';
    background: var(--global--sidebar--color);
    position: 'fixed';
    height: '100%';
}

.SideBarBurgerMenu {
    background-color: #b5b4b9;
}
/* Reconfiguration of  the title style on the side bar */
.SideBarTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--icon-title--FontSize);
    letter-spacing: 0.2px;
    color: var(--global--sidebar--title--color);
    margin-left: 2px;
}
.SideBarTitle :active {
    background-color: #ae56ff;
}

.SideBarTitle :focus {
    background-color: #ae56ff;
}

.SideBarTitle :visited {
    background-color: #ae56ff;
}

/* Reconfiguration of the logo style on sidebar  */
.TeamLogo {
    height: min-content;
    text-align: center;
    width: fit-content;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 35px;
}

.ActiveContainer {
    background-color: 'rgba(221, 226, 255, 0.08)';
}

.MenuContainer {
    display: 'flex';
    height: 40;
    cursor: 'pointer';
    padding-left: 16px;
}

.MenuContainer:hover {
    background-color: 'rgba(221, 226, 255, 0.08)';
}
