/* Reconfiguration of  the icon style on the side bar */
.SideBarIconStyle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--icon-title--FontSize);
    color: var(--global--header--color);
    padding-right: 100;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}

/* Reconfiguration of  the title style on the side bar */
.SideBarTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--icon-title--FontSize);
    letter-spacing: 0.2px;
    color: var(--global--header--color);
    margin-left: 5px;
}

/* Reconfiguration of the logo style on sidebar  */
.TeamLogo {
    height: fit-content;
    text-align: center;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}

.TeamLogo img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ActiveContainer {
    background-color: 'rgba(221, 226, 255, 0.08)';
}

.MenuContainer {
    display: 'flex';
    height: 40;
    cursor: 'pointer';
    padding-left: 16px;
}

.MenuContainer:hover {
    background-color: 'rgba(221, 226, 255, 0.08)';
}

.SideBarIconStyle:hover {
    color: #00b300;
}

.SideBarIconStyle:focus {
    background-color: #00b300;
}

.SideBarIconStyle:active {
    color: #00b300;
}

.SideBarIconStyle:visited {
    color: #00b300;
}

.SideBarTitle:hover {
    color: #00b300;
}

.SideBarTitle:focus {
    color: #00b300;
}

.SideBarTitle:active {
    color: #00b300;
}

.SideBarTitle::selection {
    color: #00b300;
}
