.App {
    font-family: sans-serif;
    text-align: center;
}
.dropDown {
    background-color: #8a00e5;
    color: white;
}
.dropDown:hover {
    opacity: 0.8;
    background-color: #AE56FF !important;
    color: white !important;
}
.imageTitle {
    background-color: #8a00e5;
    color: white !important;
}
