@import url('https://fonts.googleapis.com/css?family=Muli');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background-color: #ededed;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #424147;
    overflow: hidden;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b5b4b9;
    border-radius: 10px;
}

/* Reconfiguration of the header bar */
.HeaderContainer {
    height: 70;
    width: 200;
    color: #000000;
}
/* Reconfiguration of  the title style on the header bar */
.HeaderTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.5px;
    margin-left: 30px;
    color: #00b300;
}
/* Reconfiguration of  the icon style on the header bar */
.HeaderIconSyle {
    font-size: 35px;
    color: #ededed;
    padding-right: 100;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Reconfiguration of  the username style on the header bar */
.HeaderUserName {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 40;
    letter-spacing: 0.5px;
    line-height: 16px;
    color: #00b300;
    margin-bottom: 15px;
    margin-top: 5px;
}

/* Reconfiguration of  the title style on the header bar */
.PanelHeaderTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-left: 0px;
    color: #dbdbdb;
}

.SubTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-left:15px;
    color: #000000;
    margin-bottom:10px;
}

/* Reconfiguration of the text style on pages */
.TextContent {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top:25px;
    margin-left:15px;
    
}
/* Reconfiguration of the title style on chart  */
.ChartItemsTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #000000;
}

.ColumnChartItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    margin-left: 0;
    color: #000000;
    margin-top:10px;
    margin-bottom: 10px;
}
.ChartItems {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    margin-left: 0;
    color: #000000;
    margin-top:10px;
    margin-bottom: 10px;
}
.TableTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom:10px;
}

.TableSubTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom:10px;

}



/* Reconfiguration of the text style on details pages */
.DetailsPageTextContent {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 10px;
}
/* Reconfiguration of the name of the product style on pages */
.LabelTextContent {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #000000;
}

.ButtonTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}

.CardsContainer {

    background-color: #FFFFFF;
    /* border:0.5px solid #00b300; */
    border-color: #00b300;
    border-radius: 4px;
    cursor: 'pointer';
    min-width: 360;
    max-width: 450;
    min-height: 400px;
    margin-top:10px;

}

.PieChartCardsContainer {

    background-color: #FFFFFF;
    /* border:0.5px solid #00b300; */
    border-color: #00b300;
    border-radius: 4px;
    cursor: 'pointer';
    min-width: 300;
    max-width: 360;
    margin-top:10px;

}
.TableContainer{
    background-color: #FFFFFF;
    /* border:0.5px solid #00b300; */
    border-radius: 4px;
    cursor: 'pointer';
    /* min-width: 500px;
    max-width: 500px; */
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 5px;
    margin-top:5px;
    min-height: 600px;
    max-height: 600px;
}
.miniCardContainer {
    display: inline-block;
    margin-right: 30;
    margin-Left:0;
    background-color: #FFFFFF;

}
.Separator {
    border-left: '1px';
    /* margin-left: 40;
    margin-right: 10; */
    margin-top: 5;
    height: 30;
    width: 5;
    color: #8b8d94;
}
/* Reconfiguration of  the icon style on the side bar */
.SideBarIconStyle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ededed;
    padding-right: 100;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}
.TeamLogo{
    height: fit-content;
    text-align: center;
    width: fit-content;
    margin-left:10px;
    margin-right:10px;

}

.ActiveContainer{

    background-color: 'rgba(221, 226, 255, 0.08)' ;
}

.MenuContainer {
    display: 'flex';
    height: 40;
    cursor: 'pointer';
    padding-left: 16px,
}

.MenuContainer:hover{
    background-color:'rgba(221, 226, 255, 0.08)' ;


}


.SideBarIconStyle:hover {
    color: #00b300;
}

.SideBarIconStyle:focus {
    background-color: #00b300;
}

.SideBarIconStyle:active {
    color: #00b300;
}

.SideBarIconStyle:visited {
    color: #00b300;
}

/* Reconfiguration of  the title style on the side bar */
.SideBarTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #ededed;
    margin-left: 5px;
}
.SideBarTitle:hover {
    color: #00b300;
}

.SideBarTitle:focus {
    color: #00b300;
}

.SideBarTitle:active {
    color: #00b300;
}

.SideBarTitle::selection {
    color: #00b300;
}
