@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('components/details/navbar.css');
@import url('components/header/header.css');
@import url('components/details/charts_tables.css');
@import url('components/sidebar/sidebar.css');
@import url('theme.css');

/* css resets */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Page Boder and scroll behaviour*/
html,
body,
#root,
.App {
    height: 100%;
    overflow-x: inherit;
    overflow-y: auto;
}

/* Remove default padding */
/* Remove default padding and Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #F0F0F0;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #424147;
    overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Custom Scrollbar */

/* Page Boder and scroll behaviour*/
html,
body,
#root,
.App {
    height: 100%;
    overflow-x: inherit;
    overflow-y: auto;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b5b4b9;
    border-radius: 10px;
}

.SubTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-left: 15px;
    color: #000000;
    margin-bottom: 10px;
}

/* Reconfiguration of the text style on pages */
.TextContent {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--text--FontSize);
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 25px;
    margin-left: 15px;
}

/* Reconfiguration of the text style on details pages */
.DetailsPageTextContent {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--text--FontSize);
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 10px;
}
/* Reconfiguration of the name of the product style on pages */
.LabelTextContent {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--text-label--FontSize);
    letter-spacing: 0.5px;
    color: #000000;
}

/* Reconfiguration of the title style on buttons  */

.ButtonTitle {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: var(--global--button-title--FontSize);
    letter-spacing: 0.5px;
    color: #000000;
}
