/* Project wide definition of stlye */
:root {
    /* --global--concept--size */
    --global--header--icon--color: #f0f0f0;
    --global--icon--color: #00b300;
    --global--sidebar--color: radial-gradient(circle at top,
        #000000 35%,#1b1534 ,#4d217a
      );
    --global--headerbar--color: radial-gradient(circle at top left,#000000 60%,#1b1534);
    /* --global--panel--color: #38206A; */
    --global--main--container--color: 2rem;
    --global--text--color: #000000;
    --global--body--color: #f0f0f0;
    --global--header--title--color: #f0f0f0;
    --global--sidebar--title--color: #f0f0f0;
    --global--panel--title--color: #38206a;
    --global--Sidebar--hover--color:#A54BF7;
    --global--columnchart--color:#21C0FF;

    /* --global--text and title--fontsizes */
    --global--header-title--FontSize: 24px;
    --global--header-icon-title--FontSize: 40px;
    --global--header-back-icon-title--FontSize: 20px;
    --global--panel-title--FontSize: 22px;
    --global--icon-title--FontSize: 18px;
    --global--text--FontSize: 18px;
    --global--text-label--FontSize: 16px;
    --global--text-title--FontSize: 20px;
    --global--text-subtitle--FontSize: 19px;
    --global--chart-items--FontSize: 10px;
    --global--table-items--FontSize: 10px;
    --global--button-title--FontSize: 14px;
}
